/* style.css */
.hero-text {
    margin: 50px;
    text-align: center;
    padding: 20px 0;
  }
  
  .hero-text h1 {
    color: #fff; 
    font-size: 55px;
    font-weight: bold;
    text-shadow: 4px 4px 4px rgba(240, 238, 238, 0.5);
    letter-spacing: 2px;
  }
  
  .hero-text h1:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }
  
  .subtext {
    text-align: center;
    padding: 5px 0;
  }
  
  .subtext p {
    font-size: 20px;
    font-weight: bold;
    text-shadow: 4px 4px 4px rgba(252, 248, 248, 0.934);
    line-height: 1.5; 
    color: whitesmoke
  }
  
  
  .start-container {
    height: 100%;
    border-radius: 8px;
    padding: 40px;
  }
  
  .button-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .primary-button,
  .secondary-button {
    margin: 0 10px;
    background-color: var(--button-color-primary);
    border-color: var(--button-color-primary);
    height: 60px;
    width: 160px;
    font-size: larger;
    font-weight: bolder;
  }

  
  .primary-button:hover,
  .secondary-button:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    background-color: var(--button-color-secondary);
  }

  .containerStyle{
    background: #0a0a0a;
  }

  .transparentImgContainer{
    border: 10px solid #95d2ed;
    height: 90%;
    margin: 15px;
} 
  
  .imgContainer{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%; 
    height: 100vh;
    display: flex; 
    justify-content: center; 
    align-items: center;
}
    
    
  .homePageImg{
    max-width: 100%; 
    max-height: 100%;
  }


  /* Login Page */

  /* style.css */

/* Center the login page vertically and horizontally */
.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

/* Style for the login form container */
.loginForm {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;
}

/* Style for the login form title */
.loginForm h2 {
  color: #302e2e;
  margin-bottom: 30px;
}

/* Style for form inputs and labels */
.loginForm label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.loginForm input[type="email"],
.loginForm input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

/* Style for the log in button */
.loginForm button {
  width: 100%;
  padding: 10px;
  background-color: var(--button-color-primary);
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loginForm button:hover {
  background-color: var(--button-color-secondary)
}

/* Style for the error message */
.errorMsg {
  color: #dc3545;
  margin-bottom: 20px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 10px;
}


/* home page */

/* style.css */

.homeContainer {
  padding: 20px;
}

.homeStatsContainer {
  display: flex;
  justify-content: space-around;
}

.homeStatCard {
  width: 30%;
  height: 150px;
  margin-bottom: 20px;
  background-color: #a4def7;
  border-radius: 20px;
}

.homeStatDetail {
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  color: white;
}

.homeAdminList {
  margin-top: 20px;
}

.table {
  width: 100%;
}

.primaryBtn{
  margin: 5px;
  border-radius: 10px;
  font-weight: bold;
  border: 2px solid rgb(85, 204, 225);
  color: rgb(85, 204, 225);
}

.primaryBtn:hover{
  border: 2px solid rgb(85, 204, 225);
  color: rgb(85, 204, 225);

}

.secondaryBtn{
  margin: 5px;
  border-radius: 10px;
  font-weight: bold;
  border: 2px solid rgb(246, 45, 45);
  color: rgb(246, 45, 45);
}

.secondaryBtn:hover{
  border: 2px solid rgb(246, 45, 45);
  color: rgb(246, 45, 45);

}

/* dashboard */

/* style.css */

.dashboardContainer {
  height: 100vh;
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #0a0a0a;
  color: #ffffff;
}

.logo {
  padding: 20px;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  margin-bottom: 30%;
}

.logoText {
  margin-left: 10px;
}

.sidebarMenu {
  list-style: none;
  padding: 0;
}

.sidebarMenu li {
  padding: 15px 20px;
  border-top: 1px solid #4e555b;
}

.sidebarMenu li a {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.sidebarMenu li a:hover {
  background-color: #495057;
}

.sidebarMenu li a i {
  margin-right: 10px;
}

.content {
  flex: 1;
  padding: 20px;
}

.header {
  background-color: #c2e0f8;
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.header h2{
  color: rgb(19, 19, 19);
  font-weight: bold;
  
}

.mainContent {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* height: 100vh; */
}


/* category */

/* style.css */

.categoryContainer {
  padding: 10px;
  max-height: 500px;
  overflow-y: auto;
}

.headingContainer {
  text-align: center;
  margin-bottom: 20px;
}

.categoryCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}



.categoryCard {
  width: 250px;
  margin: 10px;
}

.employeeList {
  display: flex;
  flex-direction: column;
}

.employeeItem {
  display: flex;
  margin-bottom: 10px;
}

.employeeImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.employeeDetails {
  display: flex;
  flex-direction: column;
}

.employeeName {
  font-weight: bold;
  /* border: 2px solid lightblue; */
  background: rgb(216, 245, 255);
  padding: 5px;
}

.employeeCategory {
  font-style: italic;
  color: #888;
}


/* style.css */

/* Add Employee form */
.addEmployeeContainer {
  max-height: 500px; 
  overflow-y: auto; 
}

/* Form container */
.formContainer {
  background-color: #f9f9f9; 
  border: 1px solid #ddd; 
  border-radius: 8px; 
  padding: 20px; 
}

/* Form title */
.formContainer h3 {
  text-align: center; 
  color: #333; 
}

/* Form groups */
.formGroup {
  margin-bottom: 20px; 
}

/* Form labels */
.formGroup label {
  display: block; 
  font-weight: bold; 
  margin-bottom: 5px; 
  color: #333; 
}

/* Form inputs */
.formControl {
  width: 100%; 
  padding: 10px; 
  border: 1px solid #ddd; 
  border-radius: 4px; 
  box-sizing: border-box; 
}

/* Select dropdown */
.formControl select {
  width: 100%;
  padding: 10px; 
  border: 1px solid #ddd; 
  border-radius: 4px; 
  box-sizing: border-box; 
}

/* Submit button */
.submitButton {
  width: 100%; 
  padding: 10px;
  background-color: #007bff; 
  color: #fff; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.submitButton:hover {
  background-color: #0056b3; 
}



/* edit employee */
/* style.css */

.editEmployeeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.editEmployeeForm {
  width: 50%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formGroup {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submitButton {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #0056b3;
}

/* employee */
/* Employee.css */

.employeeContainer {
  padding: 20px;
}

.employeeHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.employeeTable {
  max-width: 100%;
}

.employeeImage {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
}

/* .editButton {
  margin-right: 10px;
} */

/* employee details */
/* EmployeeDetail.css */

.employeeDetailContainer {
  padding: 20px;
}

.employeeHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.employeeImageContainer {
  margin-bottom: 20px;
}

.employeeImage {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
}

.employeeDetails {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.employeeInfo {
  margin-left: 40px;
}

@media (max-width: 768px) {
  .employeeDetails {
    flex-direction: column;
    align-items: center;
  }

  .employeeInfo {
    margin-left: 0;
    text-align: center;
  }
}


/* employee login */
/* EmployeeLogin.css */

.employeeLoginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginFormContainer {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.loginHeader {
  text-align: center;
  margin-bottom: 20px;
}

.errorText {
  color: red;
  margin-bottom: 10px;
}

.formGroup {
  margin-bottom: 15px;
}

.formControl {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submitButton {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
}

.checkboxGroup {
  display: flex;
  align-items: center;
}

.checkbox {
  margin-right: 5px;
}

/* employee details */
.employeeDetailContainer {
  width: 80%;
  margin: auto;
}

.employeeHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.employeeDetails {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.employeeImageContainer {
  flex: 1;
}

.employeeImage {
  width: 100%;
  border-radius: 5px;
}

.employeeInfo {
  flex: 1;
  margin-left: 20px;
}

.detailTitle {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}

.detailText {
  margin-bottom: 15px;
  font-size: 16px;
}

.logoutBtn {
  margin-top: 20px;
}


/* Leave request */
.leave-request-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.leave-request-container h2 {
  margin-bottom: 20px;
}

.leave-request-container form {
  display: flex;
  flex-direction: column;
}

.leave-request-container .form-group {
  margin-bottom: 15px;
}

.leave-request-container label {
  font-weight: bold;
}

.leave-request-container input[type="text"],
.leave-request-container input[type="date"],
.leave-request-container textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 5px;
}

.leave-request-container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.leave-request-container button:hover {
  background-color: #0056b3;
}


/* task */

.task-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.task-container h2 {
  margin-bottom: 20px;
}

.task-container form {
  display: flex;
  flex-direction: column;
}

.task-container .form-group {
  margin-bottom: 15px;
}

.task-container label {
  font-weight: bold;
}

.task-container input[type="text"],
.task-container input[type="date"],
.task-container textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 5px;
}

.task-container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task-container button:hover {
  background-color: #0056b3;
}


/* holidays */
.holidays-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.holidays-container h2 {
  margin-bottom: 20px;
}

.holidays-container form {
  display: flex;
  flex-direction: column;
}

.holidays-container .form-group {
  margin-bottom: 15px;
}

.holidays-container label {
  font-weight: bold;
}

.holidays-container input[type="date"],
.holidays-container textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 5px;
}

.holidays-container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.holidays-container button:hover {
  background-color: #0056b3;
}


/* Shift */
.shift-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 550px; /* Adjust the height as needed */
  overflow-y: auto;
}

.shift-container h2 {
  margin-bottom: 20px;
}

.shift-container form {
  display: flex;
  flex-direction: column;
}

.shift-container .form-group {
  margin-bottom: 15px;
}

.shift-container label {
  font-weight: bold;
}

.shift-container input[type="datetime-local"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 5px;
}

.shift-container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.shift-container button:hover {
  background-color: #0056b3;
}


/* profile */
.employee-list-container {
  max-width: 800px;
  margin: 0 auto;
}

.employee-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
}

.employee-card {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-details {
  margin-top: 20px;
}

.modal-details h2 {
  margin-bottom: 10px;
}

/* View holidays */
.holiday-list-container {
  padding: 20px;
  height: 550px; /* Adjust the height as needed */
  overflow-y: auto;
}

.holiday-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.holiday-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.holiday-card h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.holiday-card p {
  font-size: 16px;
  margin: 5px 0;
}


/* View task */
.task-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.task-card {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.task-card:hover {
  transform: translateY(-5px);
}

.task-card h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.task-card p {
  font-size: 16px;
  margin-bottom: 10px;
}

.task-card button {
  margin-top: 10px;
}

/* view shift */
.shift-cards-container {
  height: 550px; /* Adjust the height as needed */
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.shift-card {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.shift-card:hover {
  transform: translateY(-5px);
}

.shift-card h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.shift-card p {
  font-size: 16px;
  margin-bottom: 10px;
}

/* leave view */
.leave-requests-container {
  height: 550px; /* Adjust the height as needed */
  overflow-y: auto;
  padding: 20px;
}

.leave-requests-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.ant-table {
  width: 100%;
}

.ant-table thead th {
  font-weight: bold;
}

.ant-table tbody td {
  padding: 12px;
}

.ant-table-pagination {
  margin-top: 20px;
}

.formatted-date {
  color: #666;
}
