:root {
  --primary-color: #95d2ed;
  --secondary-color: #333; 
  --text-color: #ffffff;
  --button-color-primary: #95d2ed;
  --button-color-secondary: rgb(47, 151, 196);

}

.App{
  height: 100vh;
}




